<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Добавить совет</title>
<link rel="stylesheet" type="text/css" href="styles/view.css" media="all">
<script type="text/javascript" src="/js/view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="img/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Добавить совет</a></h1>
		<form id="form_1059328" class="appnitro"  method="post" action="/add_advice">
					<div class="form_description">
			<h2>Добавить совет</h2>
			<p></p>
		</div>						
			<ul >
			
					<li id="li_2" >
		<label class="description" for="element_2">Категории: </label>
		<div>
		<select class="element select large" id="element_2" name="category">
			<option value="Общее" selected="selected">Общее</option>

		</select>
		</div> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">Текст совета: </label>
		<div>
			<textarea id="element_1" name="text" class="element textarea medium"></textarea>
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="1059328" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Готово" />
		</li>
			</ul>
		</form>	
		<div id="footer">

		</div>
	</div>
	<img id="bottom" src="img/bottom.png" alt="">
	</body>
</html>