<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advicer</title>
</head>
<body>
<p>ID: ${id}</br>Category: ${category}</br>Text: ${text}</br>Rating: ${rating}</p>
<a href="/advice_form">Добавить новый совет</a>
</body>
</html>